.promo-banner{
    background-image: url("https://i.ibb.co/1MPNhm0/counters-bg.jpg");
    height: 740px;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    align-content: space-around
  }
  
  
  /* Make it responsive */
@media only screen and (max-width:688px) {
    .promo-banner{
      height: 340px;
    }
  }
  @media only screen and (min-width:689px) and (max-width: 991px){
    .promo-banner{
      height: 440px;
    }
  }
  